.dial {
    border-radius: 100%;
    background-color: #545253;
    box-shadow: -3px 4px 2px rgba(0,0,0, 0.9);
    position: relative;
  }
  
  .dial::after {
    content: '';
    height: 25px;
    width: 5px;
    background-color: #545253;
    position: absolute;
    bottom: -7px;
    left: 23px;
  }
  
  .dial::before {
    content: '';
    border-radius: 100%;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
    background-image: url("https://img.pngio.com/transparent-textures-textures-png-400_400.png");
    background-blend-mode: difference;
  }
  
  .dial.first::before {
     background-color: #B4654D;
  }
  
  .dial.second::before {
     background-color: #D9DEE1;
  }