.padOptions {
  background: #dcdbd6;
  box-shadow: inset 0px -9px 0px 0px #6b6f72;
  padding-top: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto;
  align-content: end;
  justify-content: space-between;
  padding: 0 15px;
}

.levels {
  /* grid-area: levels; */
}

.seqMute {
  /* grid-area: seq-mute; */
}